.footer {
  margin-bottom: 3rem;
}

.footer-grid-container {
  max-width: 1110px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 30px;
}

.stats {
  border: 1px solid hsla(0, 0%, 100%, 0.75);
  padding: 20px 0 34px 23px;
}

.stats p {
  font-size: 0.6875rem;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 0;
}

.stats span {
  font-family: 'Antonio', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 0.019375rem;
  text-transform: uppercase;
}



@media (max-width: 1440px) {
  .stats p {
    font-size: 0.5rem;
  }
  .stats span {
    font-size: calc((27.087vw - 2.5rem) / 7);
  }
}

@media (max-width: 1200px) {
  .stats {
    padding: 15px 0 15px 15px;
  }

  .footer-grid-container {
    gap: 15px;
  }
}

@media (max-width: 900px) {
  .stats {
      padding: 20px;
      display: flex;
      justify-content: space-between;
    }
    .stats p {
      margin: auto 0;
    }
    .stats span {
      font-size: 20px;
      letter-spacing: -0.05;
    }  
  .footer-grid-container {
    grid-template-columns: 1fr;
  }
}