h1 {
  font-size: 5rem;
  margin-bottom: 34px;
  font-weight: 500;
}

p{
  font-size: 0.875rem;
  line-height: 25px;
  margin-bottom: 24px;
}

.grid-container {
  max-width: 1110px;
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  grid-template-areas:
      "planet-image planet-image"
      "planet-info planet-info";
  margin: 4.5rem auto;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet__title {
  position: relative;
}

.planet__title .animText-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.planet__title .animLetters {
  transform-origin: 0 100%;
  display: inline-block;
}



@media (max-width: 1440px) {
  body {
    padding: 0 10rem;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "planet-image"
      "planet-info";
    margin: 4.5rem auto 1.5rem auto;
  }

  .image-section {
    grid-area: planet-image;
    order: 2;
  }

  .info-section {
    grid-area: planet-info;
  }

  .planet-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .tab-buttons {
      transform: translateY(-50px);
    }
  }

  .tab-view {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 70px;
  }
}

@media (max-width: 1200px) {
  body {
    padding: 0 5rem;
  }
  .grid-container {
    margin: 4.5rem auto 0 auto;
  }
}

@media (max-width: 900px) {
  body {
    padding: 0 3rem;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
  }

  p {
    text-align: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "planet-image"
      "planet-info";
    margin: 2.5rem auto 1.5rem auto;
    position: relative;
  }

  .image-section {
    grid-area: planet-image;
    order: 2;
    margin: 75px 0 25px 0;

    img {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px){
    p{
      font-size: 0.6875rem;
    }
  }

  .info-section {
    grid-area: planet-info;
  }

  .planet-page {
    display: flex;
    flex-direction: column;
    align-items: center; 

    .tab-buttons {
      transform: translateY(-50px);
    }
  }

  .tab-view {
    display: grid;
    grid-template-columns: none;
  }
}


@media (max-width: 600px) {
  body {
    padding: 0 1.5rem;
  }
}