button {
  padding: 12px 30px;
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
  border: 1px solid hsl(240, 17%, 26%);
  display: flex;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.75);

  @media screen and (max-width: 900px) {
    font-size: 0.5625rem;
    line-height: 0.625rem;
    justify-content: center;
    transition: none;
  }

  &:hover {
    background-color: hsl(240, 17%, 26%);
    color: #fff;
  }
}

button.active {
  color: white;
  opacity: 1;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--active-color);
  }

  @media screen and (min-width: 901px) {
    &:before {
      background-color: transparent;
    }
  }
}

button p {
  margin: auto 1.5rem auto 0;
  color: hsla(0, 0%, 100%, 0.75);

  @media (max-width: 900px) {
    display: none;
  }
}

button span {
  @media screen and (max-width: 900px) {
    display: none;
  }
}

button .internal {
  padding: 0 0.5rem 0 0;
}

button .geology {
  padding: 0 0 0 0.5rem;
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  @media (max-width: 900px) {
    position: absolute;
    top: calc(0% + 10px);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    background-color: transparent;
    padding: 20px 0;
    margin-right: 3rem;
    z-index: 50;
    width: 100%;
    border-bottom: 1px solid hsl(240, 17%, 26%);
  }
}

.tab-buttons button {
  padding: 12px 30px;
  width: 100%;
  background-color: transparent;
  border: 1px solid hsl(240, 17%, 26%);
  color: hsla(0, 0%, 100%, 0.75);
  display: flex;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: hsl(240, 17%, 26%);
    color: #fff;
  }

  @media (max-width: 900px) {
    padding: 0;
    border: none;
    transition: none;
  }
}

.tab-buttons button.active {
  color: white;
  opacity: 1;

  @media (max-width: 900px) {
    background-color: transparent;
  }
}

.tab-content {
  margin-bottom: 40px;
  color: hsla(0, 0%, 100%, 0.75);

  @media screen and (max-width: 900px) {
    margin-bottom: 20px;
  }
}

.source {
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 900px){
    justify-content: center;  
  }

  @media screen and (max-width: 600px){
    font-size: 0.6875rem;
  }

  p {
    margin: 0;
  }

  span {
    color: hsl(240, 6%, 54%);
    font-size: 14px;
  }

  a {
    color: hsl(240, 6%, 54%);
    font-size: 14px;
    font-weight: 700;
    margin: auto 5px;
  }

  svg {
    margin-left: 5px;
    color: hsl(240, 6%, 54%);
    width: 12px;
    height: 12px;
  }
}
