button {
  padding: 12px 30px;
  margin: 0 auto;
  width: 100%;
  background-color: transparent;
  border: 1px solid hsl(240, 17%, 26%);
  display: flex;
  gap: 30px;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.75);

  &:hover {
    background-color: hsl(240, 17%, 26%);
    color: #fff;
  }
}

button p {
  margin: auto 0;
  color: hsla(0, 0%, 100%, 0.75);
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tab-content {
  margin-bottom: 40px;
  color: hsla(0, 0%, 100%, 0.75);
}

.source {
  display: flex;
  flex-direction: row;
}

.source p {
  margin: 0;
}

.source span {
  color: hsl(240, 6%, 54%);
  font-size: 14px;
}

.source a {
  color: hsl(240, 6%, 54%);
  font-size: 14px;
  font-weight: 700;
  margin: auto 5px;
}

.source svg {
  margin-left: 5px;
  color: hsl(240, 6%, 54%);
  width: 12px;
  height: 12px;
}

button.active {
  color: white;
  opacity: 1;
}




@media (max-width: 1440px) {
  .source span, 
  .source a,
  button {
    font-size: 0.6875rem;
  }
  
}

@media (max-width: 900px) {
  .source span,
  .source a {
    position: absolute;
    left: 50%;
    top: 50%; 
    transform: translate(-50%, -50%);
  }

}