button {
  padding: 12px 30px;
  margin: 0 auto;
  width: 100%;

  background-color: transparent;
  border: 1px solid hsl(240, 17%, 26%);

  display: flex;
  gap: 30px;
  align-items: center;
}

button p {
  margin: auto 0;
  color: hsl(240, 6%, 54%);
}

button:hover {
  background-color: hsl(240, 17%, 26%);;
}

.tab-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tab-content {
  margin-bottom: 40px;
  color: hsla(0, 0%, 100%, 0.75);
}

.source {
  display: flex;
  flex-direction: row;
}

.source p {
  margin: 0;
}

.source span {
  color: hsl(240, 6%, 54%);
  font-size: 14px;
}

.source a {
  color: hsl(240, 6%, 54%);
  font-size: 14px;
  font-weight: 700;
  margin: auto 5px;
}

.source svg {
  margin-left: 5px;
  color: hsl(240, 6%, 54%);
  width: 12px;
  height: 12px;
}

/* Active state for tab buttons */
button.active {
  background-color: #6d2ed5;
  color: white;
}